<div class="container-fluid p-0 mt-5">
    <img class="img-fluid rounded"
        src="../../images/background.png"/>
    <div class="row m-0 justify-content-md-center">
        <div class="col-9 mt-3">
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h1 class="display-4">寿光市鑫齐果蔬专业合作社</h1>
                <p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;合作社建于2015年1月，报经寿光市工商局注册登记，共有成员120人，注册资金800万元。为社员提供种苗，农资，代供，代销，技术等有关服务。为了保证合作社健康发展，我们借鉴国际合作和国内企业的管理经验，大胆探索，在健全内部运行机制上，先后制定了《合作章程》《财务制度》《民主决策制度》等多项制度。</p>
                <p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;合作社共有蔬菜大棚157个，其中2000年建立大棚63个，2011年建立大棚27个，2014年建立标准化蔬菜大棚67个，共占地600余亩，所有大棚都是无土栽培的产业模式。本合作社凭靠“惠民，康家，富国”的目标，遵循“高标准生产，高技术指导，高质量监督”的经营理念，鑫齐果蔬专业合作社脚踏实地带领社员致富，真正做到“惠民，利民，为民”。</p>
              </div>
            </div>
        </div>
    </div>
    <div class="row m-0 justify-content-md-center">
        <div class="col-9 mt-4">
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                  <div class="row">
                      <div class="col-7">
                          <img class="img-fluid img-thumbnail rounded float-left"
                              src="../../images/harvest.jpg"/>
                      </div>
                      <div class="col-5">
                          <h2 class="text-center">大棚种植与收获情况介绍</h2>
                          <p class="lead mt-2">
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              通常情况，一个蔬菜大棚，种植密度每亩地3000棵，株距为36cm,行距36cm,畦距60cm，每棵收获7斤，价格稳定在2-5元/斤，8月份栽植，10月份左右开始收果，12月份套栽下一茬，2月份清上一茬的棵子。
                              3月份开始收第二茬的果，6月份结束，一亩地的棚共收获3万斤左右。
                              最开始投资建设大棚的成本，正常情况下,三茬可以收回来。
                          </p>
                          <p class="lead">
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              我们的种植棚，东西长98米，宽14米，高5.2米，一年两季（茬），一茬大约28000-31000斤。
                              而且近几年,年前腊月分和年后正月份,西红柿的价格可以达到4.5元。
                          </p>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-0 justify-content-md-center">
        <div class="col-9 mt-4">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-7">
                            <h2 class="text-center">大棚投资情况介绍</h2>
                            <p class="lead">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新建棚：全钢架，水泥立柱，包括钢丝、竹竿、薄膜、保温被、卷帘机，2017年投资情况每米不到2000元。
                                使用年限10年没问题。后墙和东西两侧墙为6-7米厚的夯实土坡墙，当地取土。棚外连接有30平的操作间，可以住人，放些杂活农具等。
                                如果不需要再投资，原来的旧大棚的基础上改造成无土栽培，则只需要在原来的土地上挖栽培沟，25cm深，60cm宽，铺上塑料膜，填上砂子和炉碴。放上滴灌系统，滴灌系统每个棚大约2000元。
                            </p>
                        </div>
                        <div class="col-5">
                            <img class="img-fluid img-thumbnail rounded float-left"
                                src="../../images/greenHouse.png"/>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <p class="lead">
                                 <span class="font-weight-bold mr-2">选址要求:</span>
                                 对土壤质地基本无要求，但应选择交通方便，地势平坦高燥、开阔，有水源，避风向阳，地下水位0.5米以下，排水方便的地方。
                                 棚向以东西走向，阴阳偏度不大于10度。东西两棚间距大于3米，南北两棚间距3-5米左右。防止互相遮阴，用于挖水沟、安供水排水管道、修建通行道路等。
                                 棚体规格根据当地环境面积的条件而定，一般要求宽10.5左右，长应以大于100米为宜。
                            </p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <p class="lead">
                                 <span class="font-weight-bold mr-2">结构要求:</span>
                                 一般用土做墙体、水泥立柱，钢管架子、钢丝、竹竿、薄膜、草帘子、卷帘机等。
                                 另外，温室大棚建设都是采用了镀锌工艺钢管，抗腐蚀能力与一般的钢管相比较使用寿命可以延长3-5年。并且能够适应各种的酸碱环境中使用。采用了镀锌工艺，吸热能力低，表面不会产生锈刺，对大棚塑料薄膜和保温被都会起到防护作用。
                                 此外，温室大棚采用的冷轧矩形钢管，可以承受10以上的风力。大棚上面采用了流线型设计，减少了损坏。
                            </p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <p class="lead">
                                 <span class="font-weight-bold mr-2">管理要求:</span>
                                 相比土壤栽培管理，减少了人工施肥，而且病害减少了，所以用人工数减少，一个人可以管理2个棚。
                             </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-0 justify-content-md-center">
        <div class="col-9 mt-4">
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                  <div class="row">
                      <div class="col-4">
                          <img class="img-fluid img-thumbnail rounded float-left mt-4"
                              src="../../images/cultivate.jpg"/>
                      </div>
                      <div class="col-8">
                          <h2 class="text-center">无土栽培</h2>
                          <p class="lead mt-2">
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              我们因地制宜，采用了砂子和炉碴作为无土栽培基质。
                              沙子和炉渣透气性好，用它们作为混合基质使用时间最长，经济实惠又便捷易取，关键是适合种植西红柿。
                              种植之前通过松翻基质曝晒、使用漂白剂和蓝丰多菌灵消毒，不仅对人体没有伤害，还能有效消杀基质中的细菌、真菌孢子、根线虫等。
                          </p>
                          <p class="lead">
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              相比普通的种植模式，我们的无土栽培模式有很多优势。
                              <span class="font-weight-bold">省工</span>，无土栽培主要是依靠水肥一体化技术，大棚一侧设置营养液池子，将营养液兑好，依靠自流灌溉，滴管管道就会把每滴水送到菜根上，也可以设置电动灌溉。
                              <span class="font-weight-bold">省肥</span>，普通栽培方式，肥料渗入土壤中，一方面造成浪费，另一方面还造成了面源污染。而无土栽培的基质通透性强，有利于作物吸收，且基质底部都用塑料材料包裹起来，不会造成浪费。而且成本也比普通栽培更低。每季的营养液成本超不过1000元。
                              <span class="font-weight-bold">省药</span>，无土栽培采用滴灌营养液的方式，棚内湿度小，病虫害也少，所用的农药也就更少。
                          </p>
                      </div>
                  </div>
                  <div class="row mt-3">
                      <div class="col">
                          <p class="lead">
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              普通大棚里常见的立枯病、灰霉病、根线虫病等，在这里基本见不着。省肥省药，每年所用化肥农药6000元左右，再加上科学的栽培技术，提高了蔬菜的品质。
                              现在大家都讲究舌尖上的安全，普通大棚为了防病虫害和增产，要人工施加大量化肥和农药，可即使这样也很难使土壤中各元素间维持平衡。
                              而无土栽培中，作物所需要的各种营养元素，是人为配制成营养液施用的，不仅不会损失，而且很易保持平衡，根据作物种类以及同一作物的不同生育阶段，科学地供应养分，能够从源头保证了食品安全。
                          </p>
                          <p class="lead">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            再加上我们的栽培技术，显著提高了蔬菜的品质。
                            现在大家都讲究舌尖上的安全，普通大棚为了防病虫害和增产，要人工施加大量化肥和农药，可即使这样也很难使土壤中各元素间维持平衡。
                            而无土栽培中，作物所需要的各种营养元素，是人为配制成营养液施用的，不仅不会损失，而且很易保持平衡，根据作物种类以及同一作物的不同生育阶段，科学地供应养分，能够从源头保证了食品安全。
                          </p>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center mx-0 mb-5">
        <div class="col-9 mt-3">
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                  <h2 class="text-center">联系我们</h2>
                  <div class="row m-0 justify-content-md-center pt-5">
                      <div class="col-4">
                          <img src="../../images/weiChat.jpg" />
                      </div>
                      <div class="col-6">
                          <p class="lead pt-5">
                              联系人: <span class="font-weight-bold pr-3">李本明</span>
                          </p>
                          <p class="lead">
                              联系电话: <span class="font-weight-bold pr-3">18366388629</span>
                          </p>
                          <p class="lead">
                              地址: <span class="font-weight-bold pr-3">山东省潍坊市寿光市双王城生态经济园区南木桥村</span>
                          </p>
                      </div>
                  </div>
                  <div class="row m-0 justify-content-md-center pt-5">
                      <div class="col-10">
                        <div style="height: 300px;"
                             leaflet
                             [leafletOptions]="leafletOptions"
                             [leafletLayers]="markerLayers">
                        </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>
